@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .header{
        background-image: url('/logo/food/bg-3.jpeg');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: 25% 50%;
    }
    
    .header nav{
        line-height: 50px;
    }
    
    #logo{
        color: white;
        display: inline-block;
        transform:translateX(30px);
        font-family: 'Merriweather', sans-serif;
        cursor: pointer;
        line-height: 50px;
        font-size: 20px;  
    }
    
    #bank{
        font-family: 'Ubuntu', sans-serif;
        margin-left: 5px;
        color: black;
    }
    
    #menu ul{
        list-style-type: none;
        transform: translate(-120px, 35px);
    }
    
    #menu ul li{
        margin-right: 10px;
    }
    
    #menu ul li a{
        text-decoration: none;
        color: white;
        font-family: 'Merriweather', sans-serif;
        font-weight: 400px;
        transition: color 0.5s;
    }
    
    #menu ul li a:hover{
        color: #333333;
    }
    
    #search{
        height: 10px;
        padding: 15px;
        width: 120px;
        margin-right: 0px;
        transform: translateY(20px);
        border: 1px solid white;
        border-radius: 15px;
        background-color: transparent;
        display: none;
    }
    
    /* #search::placeholder{
        font-family: 'Merriweather', sans-serif;
        color: #e4e4e4;
        text-align: left;
    }
    
    #search:focus{
        outline: none;
    }
     */
    .text{
        width: 60%;
        text-align: justify;
        transform: translate(75px, 90px);
    }
    
    .text h1{
        text-align: center;
        color: black;
        font-family: 'Merriweather', sans-serif;
        font-weight: 700px;
        font-size: 35px;
    }
    
    .text p{
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
    }
    
    .btn{
        width: 40%;
        transform: translate(80px, 105px);
    }
    
    .btn button{
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 22px;
        border: none;
        font-family: 'Merriweather', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
    }
    
    #view{
        color: #333333;
        margin-top: 15px;
        font-weight: bold;
        background-color: white;
        transition: background-color, color, 0.5s, 0.5s;
        transform: translateX(-15px);
    }
    
    #read{
        background-color: #12c757;
        color: white;
        font-weight: bold;
        transition: background-color 0.5s;
    }
    
    #view:hover{
        background-color: rgb(38, 41, 238);
        color: white;
    }
    
    #read:hover{
        background-color: #0d9c44;
    }

    /* Pricing Starts */

    .pricing{
        height: 100vh;
    }
    
    .pricee{
        margin-top: 20px;
    }
    
    .price{
        font-family: 'Merriweather', sans-serif;
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }

    .first{
        width: 100%;
        height: auto;
    }
    
    .two{
        width: 100%;
        height: auto;
        transform: translate(-35px, 20px);
    }
    
    .third{
        width: 100%;
        height: auto;
        transform: translate(3px, -115px);
    }
    
    .four{
        width: 100%;
        height: auto;
        transform: translate(-30px, -240px);
    }

    .four p{
        font-size: 12px;
    }
    
    .img img{
        width: 128px;
        height: 118px;
        pointer-events: none;
    }

    /* Healty Starts */

    .healthy{
        height: 100vh;
        width: 100%;
    }
    
    .healthy .left{
        width: 100%;
        background-color: #f0cf56;
    }
    
    .healthy .right{
        display: none;
        height: 50vh;
        width: 100%;
        background-color: #f0cf56;
    }

    .left .leftText{
        position: absolute;
        width: 90%;
        top: 10%;
        left: 5%;
    }
    
    .leftText h1{
        font-family: 'Merriweather', sans-serif;
        font-size: 45px;
        color: white;
        text-align: center;
    }
    
    .leftText p{
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 16px;
        line-height: 1.6;
    }
    
    .leftText button{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        width: 200px;
        border: none;
        border-radius: 23px;
        line-height: 1.6;
        margin-top: 35px;
        margin-left: 57px;
        background-color: #12c757;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        transition: background-color, 0.5s;
        cursor: pointer;
    }
    
    .leftText button:hover{
        background-color: #0d9c44;
    }
    
    
    /* .rightImage img{
        max-height: 90vh;
        max-width: 1000px;
        transform: translate(239px, 0px);
        background-size: cover;
        pointer-events: none;
    }
    */

    /* Learn Section */

    .learn{
        width: 100%;
        height: 190vh;
        background-color: #fafafa;
        position: relative;
    }
    
    .learn .topText{
        width: 350px;
        margin: auto;
        text-align: center;
        padding: 40px 10px 0px 10px;
    }
    .learn .topText h1{
        font-family: 'Merriweather', sans-serif;
        font-size: 40px;
    }
    
    .learn .topText p{
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin-top: 10px;
        font-size: 13px;
    }
    .learn .downImage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .learn .downImage .img1st{
        width: 200px;
        height: 250px;
        margin-left: 20px;
        margin-top: 30px;
    }
    
    .img1st{
        position: relative;
        cursor: pointer;
        border-radius: 50px;
    }
    
    .img1st img{
        background-size: contain;
        width: 100%;
        height: 250px;
        display: block;
        border-radius: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        pointer-events: none;
    }
    
    .img1st .overlay1st{
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #f0cf56a9;
        height: 0;
        overflow: hidden;
        transition: bottom, height, 0.5s, 0.5s;
        /* border-radius: 50px; */
    }
    
    .img1st:hover .overlay1st{
        bottom: 0;
        height: 100%;
        border-radius: 50px;
    }
    
    .overlay1st .textt{
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-20px, 0px);
        overflow: hidden;
        font-family: 'Ubuntu',sans-serif;
        font-size: 20px;
        color: white;
    }
    
    .overlay1st .textt button{
        margin-top: 10px;
        margin-left: 28px;
        width: 100px;
        padding-top: 7px;
        padding-bottom:9px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        border: none;
        background-color: #12c757;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color, 0.3s;
    }
    
    .overlay1st .textt button:hover{
        background-color: #0d9c44;
    }

    /* Subscribe */

    .subscribe{
        background-color: #f0cf56;
        height: 80vh;
        width: 100%;
        position: relative;
    }
    
    .subscribe .full{
        width: 100%;
        position: absolute;
        top: 15%;
        left: 5%;
    }
    
    .full .mainHead{
        text-align: center;
        font-size: 18px;
        font-family: 'Merriweather', sans-serif;
        color: white;
    }
    
    
    .full .subHead{
        text-align: center;
        color: white;
        width: 300px;
        transform: translate(25px, 15px);
        font-size: 14px;
    }
    .full .subHead a{
        color: red;
        text-decoration: none;
        font-weight: bold;
        transition: color .3s;
    }
    
    .mail{
        transform: translate(50px, 45px);
    }
    
    .mail input{
        width: 250px;
        padding: 15px 10px;
        border: 2px solid #12c757;
        background-color: #f0cf56;
        border-radius: 25px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 1.5px;
    }
    
    .mail input:focus{
        outline:none;
    }
    
    .mail button{
        width: 250px;
        padding: 15px 10px;
        margin-top: 20px;
        border-radius: 25px;
        background-color: #12c757;
        border: none;
        text-transform: uppercase;
        color: white;
        font-family: 'Open sans', sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: background-color, 0.5s;
    }
    
    .mail button:hover{
        background-color: #0d9c44;
    }
    
    .full .subHead a:hover{
        color: #12c757;
    }

    .last{
        height: 33vh;
        background-color: #333333;
        position: relative;
    }
    
    footer{
        position: absolute;
        top: 45%;
        left: 18%;
        color: white;
        font-family: 'Merriweather', sans-serif;
    }
    
    footer a{
        color: white;
        font-family: 'Ubuntu', sans-serif;
        transition: color, 0.5s;
    }
    
    footer a:hover{
        color: #12c757;
    }
    
    footer .hv{
        position: relative;
        display: inline-block;
    }
    
    footer span{
        background-color: #12c75794;
        width: 160px;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        top: -43px;
        left: 95%;
        visibility: hidden;
        z-index: 1;
        user-select: none;
    }
    
    footer .hv:hover span{
        visibility: visible;
    }
}